div.JournalForm-wrapper {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
}

h2.JournalForm-header {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 0.1em;
}

div.JournalForm-makePublic {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    justify-content: center;
    margin-bottom: 1rem;
}

label.JournalForm-makePublicTitle {
    margin-right: 1rem;
    font-weight: 600;
    letter-spacing: 0.1em;
}

input.JournalForm-makePublicCheckbox {
    margin-bottom: 0.4rem;
}

div.JournalForm-dateWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    width: 90%;
}

label.JournalForm-dateTitle {
    font-weight: 600;
    letter-spacing: 0.1em;
}

input.JournalForm-dateInput {
    margin-left: 1rem;
}

div.JournalForm-readingStatusWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    width: 90%;
}

label.JournalForm-readingStatusTitle {
    font-weight: 600;
    letter-spacing: 0.1em;
}

select.JournalForm-readingStatusSelect {
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

div.JournalForm-ratingWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    width: 90%;
}

label.JournalForm-ratingTitle {
    font-weight: 600;
    letter-spacing: 0.1em;
}

select.JournalForm-ratingSelect {
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

textarea.JournalForm-textarea {
    margin-bottom: 1rem;
    width: 90%;
    min-height: 10rem;
    padding: 1rem;
    font-weight: 500;
}

div.JournalForm-extender {
    flex-grow: 1;
    background-color: lightgray;
    height: 1px;
    widows: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

input.JournalForm-button {
    letter-spacing: 0.1em;
    font-size: 0.8rem;
    border-radius:0.2rem;
    font-weight: 500;
    color: #FFFFFF;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #E5BABF;
    border: none;
    cursor: pointer;
    width: 90%;
}

p.JournalForm-save-success{
    font-size: 0.9em;
    color: #48c774;
    background-color: #effaf2;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 0.1rem 2rem 0.1rem 2rem;
}