.NavBar-wrapper {
    background-color: #292b2c;
    color: orange;
}

img.NavBar-logo {
    width: 10rem;
    object-fit: contain;
}

.NavBar-item {
    /* color: orange; */
    text-transform: uppercase;
}