div.Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    min-height: 40rem;
    background-color: #FCF1EF;
}

div.Profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px;
    width: 50%;
    background-color: #FFFFFF;
}

@media screen and (max-width: 1000px) {
    div.Profile-wrapper{
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    div.Profile-wrapper {
        width: 90%;
    }
}

h2.Profile-header {
    flex-grow: 1;
    font-weight: 400;
    font-size: 1.75em;
    letter-spacing: 0.1em;
    margin-bottom: 2rem;
}

img.Profile-profileImage {
    margin-bottom: 1rem;
}

p.Profile-profileInfo {
    text-transform: uppercase;
}